# List of contents
### 01. Importing libraries and data
### 02. Examine datasets
### 03. Merge and export data

# 01. Importing libraries and data

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [2]:
# Import data
path = r'C:\Users\Lawrence\Documents\Career Foundry Projects\Data Immersion\Achievement #4\2023 Instacart Basket Analysis'
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_checked.csv'), index_col = False)
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col = False)
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders_products_prior.csv'), index_col = False)

# 02. Examine datasets

In [3]:
# Check the output
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [4]:
df_ords.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,orders_day_of_the_week,order_hour_of_day,days_since_prior_order_number
0,0,0,2539329,1,1,2,8,NaN
1,1,1,2398795,1,2,3,7,15.0
2,2,2,473747,1,3,3,12,21.0
3,3,3,2254736,1,4,4,7,29.0
4,4,4,431534,1,5,4,15,28.0

In [5]:
df_ords_prior.shape

(32434489, 4)

In [6]:
df_ords.shape

(3421083, 8)

In [7]:
df_ords.columns

Index(['Unnamed: 0.1', 'Unnamed: 0', 'order_id', 'user_id', 'order_number',
       'orders_day_of_the_week', 'order_hour_of_day',
       'days_since_prior_order_number'],
      dtype='object')

In [8]:
df_ords_prior.isnull().sum()

order_id             0
product_id           0
add_to_cart_order    0
reordered            0
dtype: int64

In [ ]:
df_dups_prior = df_ords_prior[df_ords_prior.duplicated()]
df_dups_prior

In [ ]:
# Cleaning up unnecessary index columns
df_ords = df_ords.drop(columns = ['Unnamed: 0.1', 'Unnamed: 0'])
df_ords.head()

# 03. Merge and Export Data

In [ ]:
# Merging the two dataframes
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [ ]:
df_merged_large.head()

In [ ]:
df_merged_large['_merge'].value_counts()

In [ ]:
# Export data to pkl
df_merged_large.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))